<div class="row">
  <div class="track-box">
    <div class="col">
      <input id="selected-song"
             [(ngModel)]="track"
             (typeaheadOnSelect)="onSelect($event)"
             placeholder="Song"
             [typeahead]="uniqueTracks"
             typeaheadOptionField="name"
             class="form-control">

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Length (min)</th>
            <th scope="col">Avg Length (min)</th>
            <th scope="col">Deviation (%)</th>
            <th scope="col">Rating</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let track of tracks">
            <td>{{ track.song.name }}</td>
            <td>{{ track.length > 0 ? (track.length / 60).toFixed(1) : '' }}</td>
            <td>{{ (track.song.mean / 60).toFixed(1) }}</td>
            <td>{{ track.length > 0 ? (((track.length - track.song.mean) / track.song.mean) * 100).toFixed(0) : '' }}</td>
            <td>{{ track.rating }}</td>
            <td>{{ track.show.date | date: 'yyyy-MM-dd' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <app-show-data *ngIf="tracks && tracks.length > 0" [tracks]="tracks"></app-show-data>
    </div>
  </div>
</div>
