<div [ngbCollapse]="collapsed" class="wrapper">
  <nav class="col-6 col-md-3 col-xl-2 d-md-block sidebar">
    <div class="sidebar-sticky">
      <h6 class="sidebar-heading d-flex justify-content-center mb-1 text-muted">
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/dashboard" routerLinkActive="active">
            <span data-feather="home"></span>
            <!--<img src="assets/images/ic_dashboard_24px.svg" alt="Dashboard">-->
            <span class="d-inline-block align-middle">Home</span>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/checking" routerLinkActive="active">
            <span data-feather="file-text"></span>
            Shows
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/credit-cards" routerLinkActive="active">
            <span data-feather="file-text"></span>
            Songs
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
