<nav class="navbar sticky-top flex-md-nowrap p-0">
  <div class="col-md-3 col-xl-2 pr-0 bg-grey">
    <a class="navbar-brand text-white" href="#">
      <img src="assets/images/ums-logo.png" style="height: 50px;" alt="Icon">
      UMspreadsheet
    </a>
  </div>
  <button class="navbar-toggler navbar-light mr-auto" (click)="onToggleSidebar()"
          type="button" data-toggle="collapse" data-target="#side-nav-wrapper"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
