<div *ngFor="let show of showList" class="row show">
  <div class="col">
    <div class="show-head">
      <span>{{ show.city }}, {{ show.state }}</span>
      <span class="float-right">{{ show.date | date: 'yyyy/MM/dd EEE' }}</span>
    </div>

    <div class="set" *ngFor="let set of show.sets">
      <span class="font-weight-bold">{{ set.name }}</span>
      <span *ngFor="let track of set.tracks; let last = last">
        {{ track.song + (last ? '' :
          (track.transition == 'NONE' ? ', ' :
              (track.transition == 'IMPROV' ? ' -> ' : ' > '))) }}
      </span>
    </div>
  </div>
</div>
