<div *ngFor="let show of showList" class="row show">
  <div class="col">
    <div class="show-head">
      <h6>{{ show.city }}, {{ show.state }}</h6>
      <h6>{{ show.date | date: 'yyyy-MM-dd' }}</h6>
    </div>

    <div class="set" *ngFor="let set of show.sets">
      <p>{{ set.name }}</p>
      <div class="songs">
        <div *ngFor="let track of set.tracks; let last = last">
          {{ track.song + ((last || track.transition == 'NONE') ? '' : (track.transition == 'IMPROV' ? ' -> ' : ' > ')) }}
          <span [style.visibility]="Math.random() >= 0.75 ? '' : 'hidden'" class="float-right badge badge-secondary">{{ (Math.random() * 5).toFixed(1) }}</span>
          <mat-icon [style.visibility]="Math.random() >= 0.75 ? '' : 'hidden'" class="green-icon float-right">timer</mat-icon>
          <mat-icon [style.visibility]="Math.random() >= 0.75 ? '' : 'hidden'" class="float-right">insert_chart</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
