<div class="row">

  <div *ngFor="let show of showList" class="col-xs-12 col-md-6 col-lg-4">
    <p style="font-weight: bold">{{ show.date }} {{ show.city }}, {{ show.state }}</p>
    <p>{{ show.venue }}</p>
    <div *ngFor="let set of show.sets">
      <p>{{ set.name }}</p>
      <span *ngFor="let track of set.tracks; let last = last">
        {{ track.song }}{{(last ? '' : (track.transition == 'NONE' ? ', ' : (track.transition == 'IMPROV' ? ' -> ' : ' > '))) }}</span>
      <br>
      <br>
    </div>
  </div>

</div>

<button class="btn btn-primary" (click)="getMoreShows()">Add 3 shows</button>
