body {
  padding-top: 5rem;
  width: 100%;
}

.container {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}
