@font-face {
  font-family: 'Montserrat';
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight:300;
}

body {
  padding-top: 5rem;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.90em;
}

.container-fluid {
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}

p {
  margin-bottom: 0;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:hover {
  background-color: #5FBEAA;
  border-color: #5FBEAA;
}
